<!doctype html>
<html class="no-js" lang="">

  {{#block "head"}}
    {{> global/head }}
  {{/block}}

  <body class="{{ global.prefix }}-p {{ page }}-page" >
    {{#block "svgs"}}
      {{> global/svgs }}
    {{/block}}

    {{#block "header"}}
      {{> global/header }}
    {{/block}}

    <div role="main">
      {{#block "body"}}
          <h2>this is the {{ page }} page</h2>
      {{/block}}
    </div>
    {{#if global.isi.tray }}
      {{> global/isi location="tray" }}
    {{/if}}

    <div class="no-gutters row footer">
      {{#block "footer"}}
        {{> global/isi location="persistent-bottom" }}
        {{> global/footer }}
      {{/block}}
    </div>

    {{#block "scripts"}}
      {{> global/scripts }}
    {{/block}}

    {{#block "modal"}}
      {{> global/modal }}
    {{/block}}

  </body>
</html>
