.#{$prefix}-m-header {
  .container {
    padding: 0;
    margin: 0;
    @include breakpoint('phone-up') {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.#{$prefix}-m-nav {
  display: initial;
}
