{{#extend "layout" page="home"
    title="Base project for websites"
    description="Base project for websites"
    }}
  {{#content "body" }}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- The height is a placeholder for base purposes and should be removed -->
          <div id="pagetitle" style="height: 991px">
            <h1>Base project for websites</h1>
          </div>
      </div>
    </div>
  </div>
  {{/content}}
{{/extend}}
